body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Staatliches';
  src: url('fonts/Staatliches/Staatliches-Regular.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('fonts/Abel/Abel-Regular.ttf');
  font-weight: 200;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
