body {
  margin: 0;
  font-family: 'Abel';
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Staatliches';
  font-size: 16px;
  src: url('fonts/Staatliches/Staatliches-Regular.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Abel';
  src: url('fonts/Abel/Abel-Regular.ttf');
  font-weight: 200;
  font-style: normal;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
